.image {
    position: relative;
    width: 100vmax;
}

.header {
    color: #fff;
}

.header-text-box {
    position: absolute;
    top: 1em;
    left: 7em;
    cursor: pointer;
}

.header-text {
    padding-left: 4rem;
}

.header-p-text a {
    color: #fff;
    text-decoration: none;

}

.header-text:hover, .header-p-text a:hover {
    color: #f8f0f0;
}

.about {
    padding: 7rem;
    color: #024D62;
}

.about-text {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    letter-spacing: 1.5px;
}

.recipes, .shop {
    padding: 0 7rem 5rem 7rem;
    color: #024D62;
}

.recipes a {
    text-decoration: none;
    color: #024D62;
}

.contact, .contact-last {
    background-color: #024D62;
    color: #fff;
    padding: 7rem;
}

.benefit {
    color: #ffd300;

}

.view {
    background-color: #fff;
    color: #ffd300;
    border: 2px solid #ffd300;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-weight: 900;
}

.view:hover {
    background-color: #ffd300;
    color: #fff;
    border: 2px solid #fff;
}

.cukurova-lemon {
    padding: 1.7rem 3rem 1.7rem 3rem;
}

::placeholder {
    color: #ebe7e7;
    font-size: 14px;
}

.icons {
    padding: 5rem 0 5rem 13rem;
    cursor: pointer;
}

.fab:hover {
    color: #ffd300;
}

button {
    background-color: #ffd300;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-weight: 900;
}

button:hover {
    background-color: #fff;
    color: #ffd300;
    border: 2px solid #ffd300;
}

input {
    width: 400px;
    outline: none;
    border: none;
    background: #024D62;
    border-bottom: 2px solid #fff;
    padding-bottom: 0.7rem;
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .about, .recipes, .shop, .contact, .contact-last {
        padding: 4rem;
    }

    .california-lemon {
        padding: 0 3rem 0 3rem;
    }

    .icons {
        padding: 5rem 0 5rem 8rem;
    }
}


@media only screen and (max-width: 576px) {
    .header-text {
        padding-left: 0;
    }

    .header-text-box {
        left: 1em;
    }

    .about, .recipes, .shop, .contact, .contact-last {
        padding: 3rem 1rem;
    }

    .california-lemon {
        padding-top: 2rem;
        padding-left: 0;
    }

    input {
        width: 250px;
        margin-bottom: 3rem;
    }

    .icons {
        padding: 5rem 0 5rem 1.5rem;
    }

    .lemon-image {
        min-height: 450px;
    }
}


@media only screen and (max-width: 576px) {
    input {
        width: 200px;
        margin-bottom: 3rem;
    }
}